<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label for="c-date" class="control-label col-xs-12 col-sm-2">{:__('Date')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-date" class="form-control datetimepicker" data-date-format="YYYY-MM-DD" data-use-current="true" name="row[date]" type="text" value="{$row.date}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-hour" class="control-label col-xs-12 col-sm-2">{:__('Hour')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-hour" class="form-control datetimepicker" data-date-format="HH:mm:ss" data-use-current="true" name="row[hour]" type="text" value="{$row.hour}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-pid" class="control-label col-xs-12 col-sm-2">{:__('Pid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-pid" class="form-control" name="row[pid]" type="number" value="{$row.pid}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-aid" class="control-label col-xs-12 col-sm-2">{:__('Aid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-aid" class="form-control" name="row[aid]" type="number" value="{$row.aid}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-subscribe" class="control-label col-xs-12 col-sm-2">{:__('Subscribe')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-subscribe" class="form-control" name="row[subscribe]" type="number" value="{$row.subscribe}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-onlinenum" class="control-label col-xs-12 col-sm-2">{:__('Onlinenum')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-onlinenum" class="form-control" name="row[onlinenum]" type="number" value="{$row.onlinenum}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
