<style type="text/css">
    @media (max-width: 375px) {
        .edit-form tr td input{width:100%;}
        .edit-form tr th:first-child,.edit-form tr td:first-child{
            width:20%;
        }
        .edit-form tr th:last-child,.edit-form tr td:last-child{
            display: none;
        }
    }
</style>
<div class="panel panel-default panel-intro">
    <div class="panel-heading">
        {:build_heading(null, false)}
        <ul class="nav nav-tabs">
            {foreach $siteList as $index=>$vo}
            <li class="{$vo.active?'active':''}"><a href="#{$vo.name}" data-toggle="tab">{:__($vo.title)}</a></li>
            {/foreach}
        </ul>
    </div>

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active" id="basic">
                <div>
                    <form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="c-cellphone" class="control-label col-xs-12 col-sm-4">{:__('Cellphone')}:</label>
                                <div class="col-xs-12 col-sm-6">
                                    <input id="c-cellphone" disabled="disabled" class="form-control" name="row[cellphone]" type="text" value="{$row.cellphone}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="c-name" class="control-label col-xs-12 col-sm-4">{:__('Name')}:</label>
                                <div class="col-xs-12 col-sm-6">
                                    <input id="c-name" disabled="disabled" class="form-control" name="row[name]" type="text" value="{$row.name}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="c-anchornum" class="control-label col-xs-12 col-sm-4">{:__('Anchornum')}:</label>
                                <div class="col-xs-12 col-sm-6">
                                    <input id="c-anchornum" class="form-control" name="row[anchornum]" type="number" value="{$row.anchornum}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="c-grade" class="control-label col-xs-12 col-sm-4">{:__('Grade')}:</label>
                                <div class="col-xs-12 col-sm-6">
                                    <input id="c-grade" class="form-control" name="row[grade]" type="number" value="{$row.grade}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="c-expired" class="control-label col-xs-12 col-sm-4">{:__('Expired')}:</label>
                                <div class="col-xs-12 col-sm-6">
                                    <input id="c-expired" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[expired]" type="text" value="{$row.expired}">
                                </div>
                            </div>

                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="c-manager" class="control-label col-xs-12 col-sm-4">{:__('Manager')}:</label>
                                <div class="col-xs-12 col-sm-6">
                                    <input id="c-manager" class="form-control" name="row[manager]" type="text" value="{$row.manager}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="c-status" class="control-label col-xs-12 col-sm-4">{:__('Status')}:</label>
                                <div class="col-xs-12 col-sm-6">
                                    <input id="c-status" class="form-control" name="row[status]" type="text" value="{$row.status}">
                                </div>
                            </div>
                        </div>

                        <div class="form-group layer-footer">
                            <label class="control-label col-xs-12 col-sm-2"></label>
                            <div class="col-xs-12 col-sm-8">
                                <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
                                <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="tab-pane fade" id="group">
                <div style="margin-bottom: 8px; margin-left: 0px">
                    <input type="text" placeholder="请输入分组名称" style="width: 197px; height: 34px" />
                    <button class="fa fa-search" style="margin-left: 5px; width: 80px; height: 34px">搜索</button>
                    <button class="fa fa-plus" style="margin-left: 5px; width: 80px; height: 34px;border: 0px solid #18BC9C;color: white; background: #18BC9C;">创建</button>
                </div>
                <table id="table" class="table table-striped table-bordered table-hover">
                    <tr align="center">
                        <td><strong>分组ID</strong></td>
                        <td><strong>分组名称</strong></td>
                        <td><strong>操作</strong></td>
                    </tr>
                    <tr align="center">
                        <td>1</td>
                        <td>A组</td>
                        <td>
                            <button type="button" class="fa fa-pencil" style="border: 0px solid #18BC9C;color: white; background: #18BC9C;height: 22px; border-radius: 2px" onclick="javasript: alert('修改')"></button>&nbsp;
                            <button type="button" class="fa fa-trash" style="border: 0px solid #E74C3C;color: white; background: #E74C3C;height: 22px; border-radius: 2px" onclick="javascript: alert('删除')"></button>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="tab-pane fade" id="anchor">
                <div style="margin-bottom: 8px;">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a style="display: inline-block; height: 34px;text-align: top; border: 0px solid #18BC9C;background: #18BC9C;color: white;" href="#" class="dropdown-toggle" data-toggle="dropdown">
                                全部分组
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">分组A</a></li>
                                <li><a href="#">分组B</a></li>
                                <li><a href="#">分组C</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a style="display: inline-block;height: 34px;margin-left:5px; text-align: center;border: 0px solid #18BC9C;background: #18BC9C;color: white" href="#" class="dropdown-toggle" data-toggle="dropdown">
                                全部主播
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">已签约</a></li>
                                <li><a href="#">未签约</a></li>
                                <li><a href="#">已失效</a></li>
                            </ul>
                        </li>
                    </ul>
                    <input type="text" placeholder="请输入分组名称" style="margin-left: 5px;width: 197px; height: 34px" />
                    <button class="fa fa-search" style="margin-left: 5px; width: 80px; height: 34px">搜索</button>
                    <button class="fa fa-plus" style="margin-left: 5px; width: 80px; height: 34px;border: 0px solid #18BC9C;color: white; background: #18BC9C;">添加关注</button>
                </div>
                <table id="tableanchor" class="table table-striped table-bordered table-hover">
                    <tr align="center">
                        <td><strong>主播昵称</strong></td>
                        <td><strong>平台</strong></td>
                        <td><strong>房间ID</strong></td>
                        <td><strong>房间地址</strong></td>
                        <td><strong>签约状态</strong></td>
                        <td><strong>隶属分组</strong></td>
                        <td><strong>操作</strong></td>
                    </tr>
                    <tr align="center">
                        <td>一个主播@</td>
                        <td>虎牙</td>
                        <td>58201454</td>
                        <td>http://www.baidu.com</td>
                        <td>已签约</td>
                        <td>A组</td>
                        <td>
                            <button type="button" style="border: 0px solid #E74C3C;color: white; background: #E74C3C;height: 22px; border-radius: 2px" onclick="javascript: alert('解约')">解约</button>
                            <button type="button" style="border: 0px solid #18BC9C;color: white; background: #18BC9C;height: 22px; border-radius: 2px" onclick="javasript: alert('查看主播')">查看主播</button>&nbsp;
                        </td>
                    </tr>
                </table>
            </div>
            <div class="tab-pane fade" id="trace">
                <div style="margin-bottom: 8px">
                    <input type="date" style="width: 180px; height: 34px;" />
                    <button class="fa fa-plus" style="margin-left: 5px; width: 80px; height: 34px;border: 0px solid #18BC9C;color: white; background: #18BC9C;">添加</button>
                </div>
                <table id="tabletrace" class="table table-striped table-bordered table-hover">
                    <tr align="center" valign="center">
                        <td width="20%"><strong>记录人/时间</strong></td>
                        <td width="60%"><strong>内容</strong></td>
                        <td width="20%"><strong>操作</strong></td>
                    </tr>
                    <tr>
                        <td align="center">一个主播@</br>1月1号 20:31</td>
                        <td align="left">快来付钱啦</td>
                        <td align="center" valign="center">
                            <button type="button" style="border: 0px solid #E74C3C;color: white; background: #E74C3C;height: 22px; border-radius: 2px" onclick="javascript: alert('删除')">删除</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
