<!--<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="__URL__/uploadLicense">
    <div class="form-group">
        <label for="c-image" class="control-label col-xs-12 col-sm-2">{:__('上传图片')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-image" class="form-control" size="50" name="license" type="text" value="营业执照">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-image" class="btn btn-danger plupload" data-input-id="c-image" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-image"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-image" class="btn btn-primary fachoose" data-input-id="c-image" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-image"></ul>
        </div>
    </div>
</form>-->

<form action="__URL__/uploadLicense" class="form-horizontal" role="form" data-toggle="validator" enctype="multipart/form-data" method="post">
    <input type="file" name="image" /> <br>
    <input type="submit" style="width: 120px" class="btn btn-danger plupload" data-input-id="image" value="上传" />
</form>